<%- include('../partials/public/header') %>

<section class="mb-12 text-center">
  <h2 class="text-5xl font-extrabold uppercase tracking-tighter md:text-7xl">
    Category Archive
  </h2>
  <p class="mx-auto mt-6 max-w-2xl text-lg">
    Showing all snippets in: <span class="bg-yellow-300 px-2">'<%= categoryName %>'</span>
  </p>
</section>

<div class="space-y-8">
  <% if (snippets.length > 0) { %>
    <% snippets.forEach(snippet => { %>
      <%- include('../partials/public/snippet-card', {snippet: snippet}) %>
    <% }) %>
  <% } else { %>
    <div class="border-2 border-black p-8 text-center">
        <h3 class="text-3xl font-bold uppercase">No Snippets Found</h3>
        <p class="mt-3 text-base">
            There are currently no snippets in this category.
        </p>
    </div>
  <% } %>
</div>

<%- include('../partials/public/pagination', { pagination }) %> 
<%- include('../partials/public/footer') %>
